
.light-font {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.medium-font {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.bold-font {
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.black {
  color: #383838;
}

.bg-black {
  background-color: #383838;
}

.grey {
  color: #888;
}

.bg-grey {
  background-color: #888;
}

.pink {
  color: #d35266;
}

.bg-pink {
  background-color: #d35266;
}

.logo-img {
  width: 30px;
}

.logo-link {
  font-size: 0.8em;
}

.nav-link {
  font-size: 0.8em;
}

.homes h5 span {
  font-size: 0.8em;
}

.homes-item-img {
  width: 100%;
  height: 120px;
}

.social-links i {
  margin-right: 10px;
}

.homes-item-action button {
  border-radius: 0;
  padding: 0 7px 3px 7px;
}

.homes-item-action button i {
  font-size: 0.7em;
}

.dropdown-toggle::after {
  content: none !important;
}

.dropdown-item:hover {
  background-color: #383838;
  color: white;
}

.footer-logo {
  height: 50px;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
}

.footer-note {
  flex-basis: 46%;
}

.footer-note p {
  font-size: 0.8em;
}

.footer-links-wrapper {
  flex-basis: 46%;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.links-a,
.links-b {
  font-size: 0.9em;
  flex-basis: 40%;
}
